.task {
  background-color: #92d4fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.taskLabel {
  display: flex;
  align-items: center;
  flex: 3;
  margin-right: 10px;
}

.taskTitle {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
}

.buttonBlock {
  flex: 1;
  button {
    margin-right: 15px;
    
    &:last-child {
      margin-right: 0;
    }
  }

}

.checkbox {
  outline: 1px solid #0b4283;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.buttonEdit {
  border: 0;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #0b4283;
    color: #fff;
  }
}

.buttonDelete {
  border: 0;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #c9341a;
    color: #fff;
  }
}

.inputEdit {
  border: none;
  padding: 5px;
  background: none;
  box-shadow: 0 4px 0 -3px #3f72af;
  width: 100%;
}